<!DOCTYPE html>
<html lang="en">


<style>
    body {
background: url("../static/img/food.jpeg")}

</style>
  <head>


<div class="et_pb_section et_section_regular" style="background-color:#2388e0;">
  <div class="et_pb_row">
    <div class="et_pb_column et_pb_column_4_4">
      <div class="et_pb_text et_pb_bg_layout_dark et_pb_text_align_left">
        This is row 1 section 1
      </div> <!-- .et_pb_text --><div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">
        this is row 2 of section 1
      </div> <!-- .et_pb_text -->
    </div> <!-- .et_pb_column -->
  </div> <!-- .et_pb_row -->

</div>
  </head>
<body>

</body>
</html>
