<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    body, html {
    height: 100%;
    margin: 0;
    }

    #dropdownmenu{
    margin: 30px 125px 10px;
    }
    #breakfast,#lunch,#Other,#dinner
    {
    float: left;
    padding-left: 1cm;
    display: inline-block;
    width:200px;
    height: 50%;
    border:1px solid;
    margin: 40px 50px 10px;
    vertical-align:bottom;

}
.bg {
    /* The image used */
    background-image: url("static/food.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    #mealModal .modal-dialog  {width:75%;}
    </style>
     <script type="text/javascript">
        function show() { document.getElementById('area').style.display = 'block'; }
        function hide() { document.getElementById('brand').style.display = 'none'; }
      </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" data-toggle="modal" data-target="#Actualnutritiondetails" >My Dash Board</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Today's meal <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a data-toggle="modal" data-target="#mealModalB">Breakfast</a></li>
          <li><a data-toggle="modal" data-target="#mealModalL">Lunch</a></li>
          <li><a href="#">Dinner</a></li>
          <li><a href="#">Others</a></li>
        </ul>
      </li>
      <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Go</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#nutritiondetails"><span class="glyphicon glyphicon-user"></span> My Details</a></li>
          <li><a href="#"  data-toggle="modal" data-target="#mynutritiondetails">My Nutrition Requirements</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>

        </ul>

  </div>
</nav>

<!-- SIGNUP MODAL -->
    <div id="mealModalB" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enter your meal</h4>
          </div>
          <div class="modal-body">
          <form role="Enter Meal" action = "http://127.0.0.1:5000/getNutrition" method="post">
            <div class="radio">
                <label><input type="radio" checked name="usermealtype" id="branded" onclick="document.getElementById('brand').style.display = 'block';document.getElementById('itemName').style.display = 'block';document.getElementById('quantity').style.display = 'block'; document.getElementById('area').style.display = 'none';" value = "branded">Branded Foods</label>
            </div>
             <div class="radio">
                <label><input type="radio" name="usermealtype" id = "common" value = "common" onclick="hide();document.getElementById('itemName').style.display = 'block';document.getElementById('quantity').style.display = 'block'; document.getElementById('area').style.display = 'none';">Common Foods</label>
              </div>

                  <div class="radio">
                <label><input type="radio" name="usermealtype" id="elaborateText" onclick="show(); document.getElementById('brand').style.display = 'none'; document.getElementById('quantity').style.display = 'none';document.getElementById('itemName').style.display = 'none';">Enter specific meal</label>
                </div>

             <div class="form-group">
                <label class="sr-only" for="item">Item</label>
                <input type="text" class="form-control" id="itemName"  name = "itemName" placeholder="Enter the food item">
              </div>
            <div class="form-group">
                <label class="sr-only" for="brand" >Brand Name</label>
                <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter the brand name">
              </div>

                <div class="form-group">
                <label class="sr-only" for="quantity" >Quantity</label>
                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter the quantity with units.Eg.1 cup/1 slice/">
              </div>
<div>
               <TEXTAREA id="area" style="display: none;" name="itemStr" ROWS=10 COLS=50 placeholder="1 cup flour, 1 pinch of salt, and 1 cup butter"></TEXTAREA>
</div>
              <button type="submit" class="btn btn-info ">Add to meal</button>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- SIGNUP MODAL END -->

<!-- lunch modal-->
<div id="mealModalL" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enter your meal</h4>
          </div>
          <div class="modal-body">
          <form role="Enter Meal" action = "http://127.0.0.1:5000/getNutrition" method="post">
          <div class="form-group">
                <label class="sr-only" for="itemName" >item Name</label>
                <input type="text"  id="brand" name="itemName"  placeholder="Enter the item name">
              </div>
                 <button type="submit" class="btn btn-info ">Get the nutrition values</button>
          </form>
          </div>
        </div>
      </div>
</div>

<!--  nutritiondetails modal start-->
<div id="nutritiondetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Please enter all the details as acurately as possible</h4>
      </div>
        <form role="Enter Meal" action = "http://127.0.0.1:5000/enterNutriDetails" method="post">
        <div class="form-group">
       <!-- <label for="inputsm">Sex</label>
        <label class="radio-inline"><input type="radio" name="sex">Male</label>
        <label class="radio-inline"><input type="radio" name="sex">Female</label> !-->
            <label for="inputsm">Sex</label>
      <select class="form-control" id="physical activity " name = "sex">
    <option>Male</option>
    <option>Female</option>
  </select>
        <br><label for="inputsm">Weight in kilograms</label>
        <input class="form-control input-sm" name="weight" id="inputsm" type="text">
        <br><label for="inputsm">Height in centimeters</label>
        <input class="form-control input-sm" name="height" id="inputsm" type="text">
        <br><label for="inputsm">Age in years </label>
        <input class="form-control input-sm" name="age" id="inputsm" type="text">

             <label for="sel1">Regular physical activity</label>
  <select class="form-control" id="physical activity " name = "physical activity">
    <option>low amount of activity</option>
    <option>average amount of activity</option>
    <option>high amount of activity</option>
  </select>
        </div>
        <button type="submit" class="btn btn-info ">submit</button>
        </form>
        </div>
        </div>
        </div>
<!--nutritiondetails modal end -->
<div id="mynutritiondetails" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">  Your Nutrition Requirements (per day) : <br> </h2>
             {% if cal and  pro_l and pro_u and  carbs_l and carbs_u and fats%}
                <h4> Calories     :   {{ cal }} calories </h4>
                <h4> Protiens     : {{ pro_l  }} - {{ pro_u }} grams </h4>
              <!--  <h4> Protien upper Limit {{ pro_u }}grams </h4>-->
                <h4> Carbohydrates :  {{ carbs_l }} - {{ carbs_u }} grams </h4>
               <!-- <h4> carbs upper Limit {{ carbs_u }}grams </h4>-->
                <h4>Fats : {{ fats }} grams </h4>
             {% else  %}
                <h4>Please fill  in your  details!</h4>
             {% endif %}



      </div>
     </div>
</div>
<!-- nutritional details from items -->

<div id="Actualnutritiondetails" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% if calIntake  %}
            <h2 class="modal-title">   Nutrition value of {{ qty }} {{ servingUnit }} of {{ useritem }} : <br> </h2>
            <h4> Calories     :   {{ calIntake }} calories </h4>
            <h4> Protiens     : {{ proIntake }}grams </h4>
              <!--  <h4> Protien upper Limit {{ pro_u }}grams </h4>-->
            <h4> Carbohydrates :  {{ carbsIntake }} grams </h4>
            <h4>Fats : {{ fatsIntake }} grams </h4>
        {% elif nutritionValdict %}
            {% for key in nutritionValdict %}
                <h2 class="modal-title">   Nutrition value of {{ nutritionValdict[key][4] }} {{ nutritionValdict[key][5] }} of {{ key }} : <br> </h2>
                 <h4> Calories     :   {{ nutritionValdict[key][0] }} calories </h4>
                <h4> Protiens     : {{ nutritionValdict[key][1] }}grams </h4>
                <!--  <h4> Protien upper Limit {{ pro_u }}grams </h4>-->
                <h4> Carbohydrates :  {{ nutritionValdict[key][2] }} grams </h4>
                <h4>Fats : {{ nutritionValdict[key][3] }} grams </h4>
            {% endfor %}
        {% else  %}
            <h4>Please fill  in your  details!</h4>
        {% endif %}




      </div>
     </div>
</div>

<div class="dropdown" style="width:400px;  border-top-width: thick ; margin:0 auto;">
  <button class="btn btn-primary dropdown-toggle" id="dropdownmenu" type="button" data-toggle="dropdown">June-27-2017
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">June-26-2017</a></li>
    <li><a href="#">June-25-2017</a></li>
    <li><a href="#">June-24-2017</a></li>
  </ul>
</div>
<br>
<br>
<br>
<br>
<section class="bg-grey-50 padding-top-60 padding-top-sm-30">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 hidden-xs" >
        <div class="widget">
          <div class="panel panel-default">
            <div class="panel-heading">Breakfast</div>
            <div class="panel-body">
                {% if  data is defined %}
                    {% for x in data %}
                        <ul class="panel-list margin-top-1">
                            <li><i class="glyphicon glyphicon-pencil"></i>{{   x[0] }}- {{  x[1] }} {{ x[2] }}</li>
                        </ul>
                    {% endfor %}
                 {% elif dataFromspecificMeal is defined %}
                    {% for x in dataFromspecificMeal %}
                        <ul class="panel-list margin-top-1">
                            <li><i class="glyphicon glyphicon-pencil"></i>{{   x[0] }}- {{  x[1] }} {{ x[2] }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="widget">
          <div class="panel panel-default">
            <div class="panel-heading">Lunch</div>
            <div class="panel-body">
              <ul class="panel-list margin-top-1">
                <li><i class="glyphicon glyphicon-pencil"></i>Info2</li>
                <li><i class="fa fa-graduation-cap"></i>Info2</li>
                <li><i class="fa fa-warning"></i>Info2</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
          <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="widget">
          <div class="panel panel-default">
            <div class="panel-heading">Dinner</div>
            <div class="panel-body">
              <ul class="panel-list margin-top-1">
                <li><i class="glyphicon glyphicon-pencil"></i>Info1</li>
                <li><i class="fa fa-graduation-cap"></i>Info1</li>
                <li><i class="fa fa-warning"></i>Info1</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
             <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="widget">
          <div class="panel panel-default">
            <div class="panel-heading">Others</div>
            <div class="panel-body">
              <ul class="panel-list margin-top-1">
                <li><i class="glyphicon glyphicon-pencil"></i>Info1</li>
                <li><i class="fa fa-graduation-cap"></i>Info1</li>
                <li><i class="fa fa-warning"></i>Info1</li>
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>



</body>
</html>